<div class="container" style="margin-top:40px">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="tr">
                        <div class="td">First Name</div>
                        <div class="td">Last Name</div>
                        <div class="td">City</div>
                        <div class="td">Country</div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="tr" *ngFor="let item of tableData">
                        <div class="td">{{item.firstName}}</div>                        
                        <div class="td">{{item.lastName}}</div>
                        <div class="td">{{item.city}}</div>
                        <div class="td">{{item.country}}</div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="tr">                        
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>